.img-reposive {
    width: 100% !important;
}

.img-width-50 {
    width: 50% !important;
}

.mrg-top {
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #eee;
}

.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.border-ltr {
    border-left: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.mrg-top-bottom {
    margin: 10px 0;
}

.checked {
    
    color: orange;
  }
  

/* Header */

.header {
    height: 174px;

}

.header-top {
    display: flex;
    justify-content: space-between;
    line-height: 33px;
    background-color: #312B28;
}

.header-top-left {
    color: var(--text-yellow);
    margin-left: 72px;
}
.header-top-left h4 {
    text-transform: uppercase;
    
}

.header-top-right {
    margin-right: 55px;
}

.header_navlist {
    display: flex;
}

.header_navlist .header_navlist_item {
    margin-right: 20px;
    position: relative;
}

.header_navlist .header_navlist_item i {
    color: var(--text-yellow);
    margin-right: 3px;
}

.header_navlist .header_navlist_item a {
    color: var(--text-yellow);
}

.header_navlist_item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}

.header_dropmenu {
    position: absolute;
    width: 125px;
    top: 100%;
    left: -12px;
    display: none;
    background-color: #12100F;
    box-shadow: 0 -2px 7px rgb(0 0 0 / 25%), inset 0 5px 6px rgb(0 0 0 / 25%);
}

.header_navlist_item_has_notifi:hover .header_dropmenu {
    display: block;
}

.header-inner {
    height: 90px;
    display: flex;
   text-align: center;
   background-color: #1E1B17;
}

.header-inner-logo {
    width: 100%;
    flex: 1;
}

.header-inner-logo img {
    height: 90px;
    margin-right: 80px;
}

.header-inner-search {
    flex: 1;
    line-height: 90px;
}

.search {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search #search-text {
   border: none;
   outline: none;
   border-top-left-radius: 92px;
   border-bottom-left-radius: 92px;
   padding: 10px 25px;
}

.search-btn {
    cursor: pointer;
    padding: 10px 25px;
    border: 0;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
}

.header-inner-cart {
    flex: 1;
    line-height: 90px;
    color: var(--text--primary);
}

.header-inner-cart i {
    font-size: 20px;
}

.header-inner-cart i:hover { 
    cursor: pointer;
    color: var(--text-yellow);
}

.header-inner-cart span {
   color: var(--text-yellow);
}

.header-navbar {
    height: 50px;
    background-image: linear-gradient( #FF6600,#f7797d);
}

.header-navbar-list {
    display: flex;
    
}

.header-navbar-list .header-navbar-item {
    line-height: 50px;
    padding: 0 20px;
    
}


.header-navbar-item.active{
    background-color: rgb(240,128,128);
}

.header-navbar-list .header-navbar-item:hover {
    opacity: 0.8;
}

.header-navbar-list .header-navbar-item a {
    color: var(--white--primary);
}

/* Notification */
button{
    padding: 10px;
}
.notifications{
    position: fixed;
    top: 30px;
    right: 0px;
}
.toast{
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: 
        linear-gradient(
            to right, #0abf3055, #22242f 30%
        ); 
    animation: show 0.3s ease 1 forwards  
}
.toast i{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast .title{
    font-size: 18px;
    font-weight: bold;
}
.toast span, .toast i:nth-child(3){
    color: #fff;
    opacity: 0.6;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.toast::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 0;
    }
}
.toast.error{
    --color: #f24d4c;
    background-image: 
        linear-gradient(
            to right, #f24d4c55, #22242F 30%
        );
}


/* Slider */
.slider {
    width: 1349px;
    max-width: 100vw;
    height: 500px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1400px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: var(--text--black);
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.dots li {
    width: 10px;
    height: 10px;
    background-color: var(--white--primary);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

.section-introduce {
    margin-top: 50px;
    margin-bottom: 30px;
}

.section-content {
    margin-bottom: 20px;
}

.section-content-left .section-content-left-title {
    font-size: 20px;
    color: var(--text-yellow);
    margin-bottom: 5px;
}

.is-divider {
    width: 200px;
    height: 2px;
    background-color: var(--text-yellow);
}

.section-content-left .section-content-left-content {
    color: var(--text--primary);
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.section-content-right img {
    width: 100%;
    border-radius: 10px;
}

.item-inner {
    padding: 6px 12px;
    background: linear-gradient(to right, rgb(0 0 0 / 0%) 0, #ffd00038 100%);
    left: 50%;
    border-radius: 10px;
}

.item-inline {
    display: flex;
    
    justify-content: center;
}

.item-inline .item-inline-logo img {
    width: 80px;
    height: 80px;   
    margin-right: 15px;
}

.item-inline .item-inline-text h4 {
    color: var(--text-yellow);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 12px;
}

.item-inline .item-inline-text span {
    color: var(--text--primary);
}

.section-contact {
   margin-top: 100px;
}

.section-contact-left .section-contact-title {
    font-size: 30px;
    color: var(--text-yellow);
    font-weight: 600;
    margin-bottom: 10px;
}

.section-contact-left span {
    color: var(--text--primary);
}

.section-contact-right {
    display: flex;
    align-self: center;
    justify-content: center;
}

.section-contact-input input {
    padding: 12px 300px 12px 5px;
    outline: 0;
    margin-right: 10px;
}

.section-contact-button button {
    padding: 12px 20px;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    color: var(--text--black);
}

.container {
    padding: 10px 0;
    background-color: #161513;
}

.home-content {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    
}

.home-content b {
    content: "";
    display: block;
    height: 2px;
    opacity: 1;
    width: 100%;
    opacity: .1;
    background-color: #ddc9a1;
}

.home-title h2 {
    text-align: center;
    font-size: 20px;
    color: var(--text-yellow);
    font-weight: 600;
    text-transform: uppercase;
}

.box-product {
    border: 1px solid #ccc;
    margin-top: 30px;
}

.box-product .box-image img {
    width: 100%;
    height: 100%;
}

.box-product .box-text {
    text-align: center;
}

.box-product .box-text .product-name {
    margin: 8px 0;
    min-height: 40px;
    font-size: 16px;
}

.box-product .box-text .product-name a {
    cursor: pointer;
    color: var(--text-yellow);
}

.box-product .box-text .product-name a:hover {
    color: var(--text--primary);
}

.product-item-price {
    margin-bottom: 30px;
}

.product-item-price .product-item-regular {
    color: var(--text--gray);
    text-decoration: line-through;
}

.product-item-price .product-item-discount {
    color: var(--text--primary);
    font-weight: 600;
}

.product-button {
    padding: 6px 12px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}


/* Footer */
.footer {
    margin-top: 20px;
    background-color: #0A0806;
    padding: 20px 0;
}

.footer .footer-image img {
    width: 180px;
    height: 180px;
}


.footer-link .footer-link-title {
    color: var(--text--primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-link .list-unstyled li {
    padding: 6px;
    color: var(--text-yellow);
}

.footer-link p {
    color: var(--text-yellow);
    margin-bottom: 10px;
}

.breadcrumb {
    display: flex;
}

.breadcrumb span {
    color: #ccc;
    margin: 0 5px;
}

.category {
    margin-top: 20px;
}

.category h5 {
    font-size: 18px;
    display: block;
    background-color: #FFEB9B;
    padding: 13px;
    color: #784c08;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.category ul li {
    padding: 12px;
    background-color: #12100F;
    box-shadow: 0 -2px 7px rgb(0 0 0 / 25%), inset 0 5px 6px rgb(0 0 0 / 25%);
}

.category ul li:hover a {
    cursor: pointer;
    color: var(--text--primary);
}

.category ul li a {
   
    color: #c9b794;
    font-weight: 400;
} 


.price-range {
    margin-top: 20px;
}

.price-range h5 {
    font-size: 18px;
    display: block;
    background-color: #FFEB9B;
    padding: 13px;
    color: #784c08;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.price-range ul li {
    padding: 12px;
    background-color: #12100F;
    box-shadow: 0 -2px 7px rgb(0 0 0 / 25%), inset 0 5px 6px rgb(0 0 0 / 25%);
}

.price-range ul li label {
   
    color: #c9b794;
    font-weight: 400;
} 

.price-range ul li label input {
    margin-right: 5px;
}

.pull-right {
    float: right !important;
}

.pull-right label {
    color: var(--text-yellow);
}

.home-title h5 {
    font-size: 16px;
    color: var(--text-yellow);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.mrt-top {
    margin-top: 20px;
}

/* Paging */
.pagination {
    display: flex;
    margin-top: 40px;
    
}

.pagination li {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px 10px;
    background-color: var(--white--primary);

}

.pagination>li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.pagination li a {
    
    color: var(--text--black);
}   

.pagination .active {
    background-color: rgb(240,128,128);
}

/* Chinh sach doi tra */
#giao-hang {
    font-size: 18px;
    color: var(--text-yellow);
    margin-top: 25px;
    margin-bottom: 8px;
}

.content-page {
    color: var(--text--primary);
}

.content-page .content-page-title {
    font-size: 16px;
    color: var(--text--gray);
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.content-page ul li {
    margin: 5px 5px;
}

.info-account {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: var(--text--primary);
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

.form-group select {
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: var(--text--primary);
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
}

.btn-submit {
    cursor: pointer;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    border-radius: 10px ;
    border: none;
}

/* Don hang cua toi */
.order-title {
    color: var(--text-yellow);
    font-size: 16px;
    margin: 8px 0px;
}

.date {
    color: var(--text--gray);
 
}

.ship-checkout {
    color: var(--text--primary);
    
}

.ship-checkout h4 {
    margin: 5px 0;
    font-size: 16px;
}

.ship-checkout div {
    margin: 10px 0;
}


/* Product */
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.product-name {
    font-size: 20px;
    margin-bottom: 20px;
}

.brand {
    margin: 15px 0;
}

.product-status {
    margin: 20px 0;
}

/* Tab panel */
.tab {
    display: flex;
    border-bottom: 1px solid var(--text-yellow);
}
.tab .active {
    background-color: rgb(240,128,128);
}

.tab-content {
    margin-top: 20px;
}

.tab-panel {
    display: none;
  }
  
  .tab-panel.active {
    display: block;
  }
  

.tab .tab-item{
    padding: 6px 12px;
    margin-right: 4px;
    border: 1px solid #fff;
    border-bottom: #161513;
}
.form-comment {
    margin-top: 10px;
    max-width: 400px;
}
.stars span {
    cursor: pointer;
    margin: 15px 0;
}


.form-comment .form-control {
    margin: 8px 0;
    padding: 6px 12px;
    width: 100%;
}

/* San pham lien quan */
.product-related {
    margin-top: 40px;
}

.product-related-title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
}

.product-related-item {
    padding: 0 12px;
   
 
}

.product-related-item h5 {
    margin: 10px 0;
}

.product-related-item h5 .product-name {
    font-size: 16px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Header */
.modal-header {
    padding: 15px;
    background-color: var(--bg--primary);
    color: var(--color--red);
    margin-bottom: 10px;
  }
  
  /* Modal Body */
.modal-body {
    padding: 2px 16px;
}
  
.modal-body .page-content {
    color: var(--text--black);
}
  /* Modal Footer */
  .modal-footer {
    padding: 15px;
    text-align: right;
    border: 1px solid #e5e5e5;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -200px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.cart-product .product-name {
    color: var(--text--black);
    font-size: 14px;
}

.cart-product .product-name:hover {
    opacity: 0.6;
}

.cart-product input {
    width: 90%;
    outline: none;
}

.cart-product .glyphicon-trash i {
    cursor: pointer;
    font-size: 16px;
    color: var(--text--black);
}

.modal-footer p {
    color: var(--text--black);
    margin-bottom: 10px;
}

.modal-footer .price-total {
    color: var(--color--red);
    font-weight: 600;
}

.modal-footer .btn-submit-cart {
    cursor: pointer;
    padding: 6px 10px;
    background-color: var(--color--red);
    color: var(--text--primary);
    border-radius: 4px;
    border: none;
}

.form-group-radio input {
    padding: 6px 12px;
    background-color: var(--text--primary);
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

.ship-checkout .bank-info {
    margin-left: 20px;
}

.ship-checkout .text-login {
    color: var(--color--red);
}

.cart-checkout {
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.cart-checkout .product-name {
    font-size: 14px;
}

.cart-checkout .product-name:hover {
    opacity: 0.6;
}

.input-group .product-quantity {
    width: 40px;
    padding: 2px 0;
}

.input-group .cart-add-button {
    color: var(--text--black);
}